@import url("./fonts.css");

body {
  display: flex;
  background: linear-gradient(90deg, hotpink, cyan);
  min-height: 100vh;
  height: 100%;
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
  mask-image: linear-gradient(to bottom, transparent, black);
  background: linear-gradient(90deg, red, rebeccapurple);
}

.page {
  flex-grow: 1;
}

.transparent {
  padding: 1rem 1.2rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1), 0 2px 2px rgba(50, 50, 50, 0.1), 0 4px 4px rgba(50, 50, 50, 0.1),
    0 8px 8px rgba(50, 50, 50, 0.1), 0 16px 16px rgba(50, 50, 50, 0.1);
}
